/*012*/
nav li:nth-child(2) {
    background-color: #E8D23B;
    color: white;
}

/*001*/
main {
    display: grid;
    grid-auto-rows: minmax(8em, auto);
    grid-column-gap: 1em;
}

/*002*/
main img {
    grid-row-start: 1;
    grid-row-end: 2;
    justify-self: end;
    width: 20em;
    height: auto;
    border-radius: 10%;
}

/*002*/
main aside {
    grid-column-start: 3;
    grid-column-end: 4;
    grid-row-start: 1;
    grid-row-end: 2;
    align-self: stretch;
}

/*002*/
aside li {
    list-style-type: none;
    padding: 0em;
    margin: 0em 0em 0.1em 0em;
}

/*002*/
aside img {
    width: 2.5em;
    height: 2.5em;
}

/*002*/
main article {
    grid-column-start: 1;
    grid-column-end: 2;
    padding: 0em 1em 1em 1em;
    align-self: stretch;
}

/*002*/
main section {
    grid-column-start: 1;
    display: grid;
    row-gap: 2em;
    column-gap: 2em;
}

/*003*/
main section img {
    width: 100%;
    height: 100%;
    object-fit: cover;
}

/*013*/
main section img:hover {
    transform: scale(2);
}

/*013*/
main section img:nth-child(1) {
    grid-column-start: 2;
    grid-column-end: 3;
    grid-row-start: 1;
    grid-row-end: 2;
}

/*013*/
main section img:nth-child(2) {
    grid-column-start: 3;
    grid-column-end: 4;
    grid-row-start: 1;
    grid-row-end: 2;
}

/*013*/
main section img:nth-child(3) {
    grid-column-start: 2;
    grid-column-end: 3;
    grid-row-start: 2;
    grid-row-end: 3;
}

/*013*/
main section img:nth-child(4) {
    grid-column-start: 3;
    grid-column-end: 4;
    grid-row-start: 2;
    grid-row-end: 3;
}

/*013*/
main section img:nth-child(5) {
    grid-column-start: 4;
    grid-column-end: 5;
    grid-row-start: 1;
    grid-row-end: 2;
}

/*013*/
main section img:nth-child(6) {
    grid-column-start: 4;
    grid-column-end: 5;
    grid-row-start: 2;
    grid-row-end: 3;
}

/*013*/
main section img:nth-child(7) {
    grid-column-start: 5;
    grid-column-end: 6;
    grid-row-start: 1;
    grid-row-end: 2;
}

/*013*/
main section img:nth-child(8) {
    grid-column-start: 5;
    grid-column-end: 6;
    grid-row-start: 2;
    grid-row-end: 3;
}

@media (max-width: 70em) {
    /*001*/
    main {
        grid-template-columns: 10fr 0.5fr;
    }

    /*002*/
    main img {
        grid-column-start: 1;
        grid-column-end: 2;
    }

    /*002*/
    main article {
        grid-row-start: 2;
        grid-row-end: 3;
    }

    /*002*/
    main section {
        grid-column-end: 2;
        grid-row-start: 3;
        grid-row-end: 4;
        grid-template-columns: 1fr;
        grid-auto-rows: minmax(8em, auto);
    }

}

@media (min-width: 70em) {
    /*001*/
    main {
        grid-template-columns: 10fr 5fr 0.5fr;
        /*Propiedad que se redefine de @media (max-width: 70em)*/
    }

    /*002*/
    main img {
        grid-column-start: 2;
        grid-column-end: 3;
        /*Propiedades que se redefinen de @media (max-width: 70em)*/
    }

    /*002*/
    main article {
        grid-row-start: 1;
        grid-row-end: 2;
        /*Propiedades que se redefinen de @media (max-width: 70em)*/
    }

    /*002*/
    main section {
        grid-column-end: 3;
        grid-row-start: 2;
        grid-row-end: 3;
        grid-template-columns: repeat(8, 2fr);
        grid-template-rows: repeat(2, 2fr);
        /*Propiedades que se redefinen de @media (max-width: 70em)*/
    }

}